
{% extends 'base.html' %}

{% block title %}  Loguin  {% endblock %}

{% block contenido %} 
	{% from "_macro_form.html" import render_form %}
	
    <div class="container" >
    <div class= "row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<form method="POST" name="" id=""  >

		<div class="form-group"  > 
			<br>
							    {{ render_form (form_loguin.user, class = 'form-control' )  }}

								{{ render_form (form_loguin.password, class = 'form-control') }} 
					

		    	<div class="row" align="center">
		    		<div class="form-group col-xs-4" >
		        		<button  type="submit" class="btn btn-success">Ingresar </button>
		     		</div>
		     	</div>

  		</div>

  	</form>
  	</div>
    </div>
	</div>

{% endblock %}